<footer class="footer">
    <div class="footer-content">
        <h3>Cafe' Espresso</h3>
        <p>Located @ 6 Debrose St. Paradise, Malanday, Marikina City</p>
        <ul class="socials">
            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
            <li><a href="#"><i class="fa fa-youtube"></i></a></li>
            <li><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
        </ul>
    </div>
    <div class="footer-bottom">
        <p>copyright &copy;2020 Cafe' Espresso</p>
    </div>
</footer>