{% extends 'base/master.html' %}
{% load static %}

{% block content %}

<div class="container">
    <div class="home-coffee">
        <img src="{% static 'images/home-coffee.png' %}" alt="coffee" width="700px">
    </div>
    <div class="home-description">
        <h1>A coffee you <span style="color: #E5E5CB;"> deserved. </span></h1>
        <p>
            Experience the captivating world of coffee. Indulge in rich flavors, expertly crafted blends, and the perfect brew. Elevate your coffee moments with us.</p>
        <a class="order-now" href="#">Order now</a>    
    </div>
    <!-- Coffee cards -->

    <div class="products">
        <div class="product">
            <h1>Products</h1>
        </div>
        <div class="coffee__cards">
            <div class="card-wrap">
                <div class="card">
                    <img src="{% static 'images/americano.jpg' %}" alt="Americano">
                    <h3>Americano</h3>
                    <p class="price">P150.00</p>
                    <p>Experience the bold simplicity of Americano. A smooth blend of espresso and hot water. Elevate your coffee moments with its rich flavor and satisfying aroma.</p>
                </div>
            </div>
            <div class="card-wrap">
                <div class="card">
                    <img src="{% static 'images/cappucino.jpg' %}" alt="Cappucino">
                    <h3>Cappucino</h3>
                    <p class="price">P150.00</p>
                    <p>Experience the creamy delight of cappuccino. A harmonious blend of rich espresso and velvety steamed milk topped with frothed milk. Elevate your coffee moments with cappuccino's perfect balance of boldness and smoothness.</p>
                </div>
            </div>
            <div class="card-wrap">
                <div class="card">
                    <img src="{% static 'images/black.jfif' %}" alt="Black">
                    <h3>Black</h3>
                    <p class="price">P150.00</p>
                    <p>Embrace the pure essence of black coffee. Enjoy its bold flavor and invigorating simplicity. Elevate your coffee moments with the timeless pleasure of a perfectly brewed cup of black coffee.</p>
                </div>
            </div>
        </div>
        <div class="view-more">
            <a class="view-more-button" href="#">View Menu</a>
        </div>
    </div>
</div>

{% endblock %}